Repository solnce/components, changes with the labels that .github/labeler.yml gives for each.
All labels: atoms, molecules

.github/labeler.yml:

atoms: 'src/components/atoms/**/*'
molecules: 'src/components/molecules/**/*'

add publish
  .github/workflows/publish.yml
  package.json
  src/components/index.ts
  tsconfig.json
Labels: none

oops
  .github/workflows/chromatic.yml
  .github/workflows/publish.yml
  package.json
Labels: none

Add publish (#19)
  .github/workflows/chromatic.yml
  .github/workflows/publish.yml
  package.json
  src/components/index.ts
  tsconfig.json
Labels: none

add molecules
  .prettierrc.js
  package.json
  src/components/atoms/CheckBox/index.stories.tsx
  src/components/atoms/CheckBox/index.test.tsx
  src/components/atoms/CheckBox/index.tsx
  src/components/atoms/Label/index.stories.tsx
  src/components/atoms/Label/index.test.tsx
  src/components/atoms/Label/index.tsx
  src/components/molecules/CheckBoxLabel/index.stories.tsx
  src/components/molecules/CheckBoxLabel/index.test.tsx
  src/components/molecules/CheckBoxLabel/index.tsx
  tsconfig.json
Labels: atoms, molecules

code format
  src/components/atoms/Button/index.test.tsx
  src/components/atoms/Button/index.tsx
  src/components/atoms/Txt/index.test.tsx
Labels: atoms

Add molecules (#21)
  .prettierrc.js
  package.json
  src/components/atoms/Button/index.test.tsx
  src/components/atoms/Button/index.tsx
  src/components/atoms/CheckBox/index.stories.tsx
  src/components/atoms/CheckBox/index.test.tsx
  src/components/atoms/CheckBox/index.tsx
  src/components/atoms/Label/index.stories.tsx
  src/components/atoms/Label/index.test.tsx
  src/components/atoms/Label/index.tsx
  src/components/atoms/Txt/index.test.tsx
  src/components/molecules/CheckBoxLabel/index.stories.tsx
  src/components/molecules/CheckBoxLabel/index.test.tsx
  src/components/molecules/CheckBoxLabel/index.tsx
  tsconfig.json
Labels: atoms, molecules

add declaration
  package.json
  tsconfig.json
Labels: none

Add declaration (#22)
  package.json
  tsconfig.json
Labels: none

oops
  package.json
Labels: none

Fix publish config (#23)
  package.json
Labels: none

add package files
  package.json
Labels: none

Fix package json files (#24)
  package.json
Labels: none

update ver
  package.json
Labels: none

Update ver (#25)
  package.json
Labels: none

add exports and alies fix
  package.json
  yarn.lock
Labels: none

update version
  package.json
Labels: none

Fix tsc export (#26)
  package.json
  yarn.lock
Labels: none

add components
  src/components/index.ts
Labels: none

Add components (#27)
  src/components/index.ts
Labels: none

update
  package.json
Labels: none

update
  yarn.lock
Labels: none

update terser (#60)
  package.json
  yarn.lock
Labels: none

oops
  .eslintrc.js
Labels: none

add modal
  src/components/atoms/Modal/hooks.ts
  src/components/atoms/Modal/index.stories.tsx
  src/components/atoms/Modal/index.tsx
Labels: atoms

add tokens
  src/components/const/tokens.json
Labels: none

add_topken
  src/components/const/tokens.json
Labels: none

update green
  src/components/const/tokens.json
Labels: none

Update tokens (#111)
  src/components/const/tokens.json
Labels: none

use vite
  .eslintignore
  .storybook/main.js
  .storybook/preview-head.html
  package.json
  vite.config.js
  yarn.lock
Labels: none

use vite (#130)
  .eslintignore
  .storybook/main.js
  .storybook/preview-head.html
  package.json
  vite.config.js
  yarn.lock
Labels: none

add only change
  .github/workflows/chromatic.yml
Labels: none

add only change (#131)
  .github/workflows/chromatic.yml
Labels: none

test
  src/components/atoms/Button/index.tsx
Labels: atoms

add turbosnap
  .storybook/main.js
  package-lock.json
  package.json
  yarn.lock
Labels: none

test
  package.json
Labels: none

test (#138)
  package.json
Labels: none

Revert "test"
  package.json
Labels: none

Revert "test (#138)"
  package.json
Labels: none

Revert "test" (#143)
  package.json
Labels: none

post
  package.json
Labels: none
